<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      BookTok
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-input value="custom">
    <img src="https://images.milledcdn.com/2021-05-25/yTlyyX392gMnFEND/20WoNip2hApg.png" alt="">
  </ion-input>
  <ion-searchbar color="roxo"></ion-searchbar>

  <!--seleção-->
  <ion-card>
    <ion-item>
  <img src="https://a-static.mlcdn.com.br/1500x1500/colecao-a-selecao-kiera-cass-volume-1-ao-5/espacolivraria/12815603335/df5e3988c0f40e17cbd82d0eaed1e65e.jpg" alt="">

    </ion-item>

    <ion-card-content>
      <h1>A Seleção</h1>
      <hr>
      Um reality show onde o príncipe herdeiro escolherá uma esposa entre 35 garotas
       das mais diversas castas, que são sorteadas aleatoriamente.
    </ion-card-content>
  </ion-card>
<!--principe cruel-->
  <ion-card>
    <ion-item>
  <img src="https://cf.shopee.com.br/file/6e3f02b69fc5e8570b3960f9dbc0c301" alt="">
      <ion-label>ion-item in a card, icon left, button right</ion-label>
    </ion-item>

    <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content>
  </ion-card>
<!--acotar-->
  <ion-card>
    <ion-item>
      <img src="https://cf.shopee.com.br/file/86257aaf972aabf1fc63ebf795f140d6" alt="">
      <ion-label>ion-item in a card, icon left, button right</ion-label>
    </ion-item>

    <ion-card-content>

    </ion-card-content>
  </ion-card>


</ion-content>
